// Colors
$primary-color: #0094d9;
$secondary-color: #777;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white: #ffffff;
$black: #000000;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
$base:'Source Sans Pro', sans-serif;
$font-size-base: 20px;
$font-size-h: 46px;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 991px;
$xl: 1200px;
$xxl: 1440px;

//Container
$con:1170px










