@import '../variables';

.footer {
  background-color: #18171b;
  font-family: $base;

  .custom-container {
    max-width: $con;
  }

  .social-icon {
    color: $secondary-color;
    font-size: $font-size-base;
    margin: 0 20px;
    transition: color 0.3s ease;

    &:hover {
      color: $white;
    }

    &.twitter {
      color: $primary-color;
      &:hover {
        color: $white;
      }
    }
  }

  .copyright {
    font-size: 18px;
    font-weight: 600;
    color: $secondary-color;
    margin: 0;
    margin-top: 14px;
  }
}
